footer{
  position:fixed;
  bottom:0px;
  height:5em;
  width: 100%;
  text-align: center;
  background-color: #858585;
  border-radius:50px
}

audio{
  width: 90%;
  height: 3em;
  margin-right:20px;
  margin-left:20px;
  margin-top:10px;
}

